* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(7, 50, 69), rgb(10, 101, 191));
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 100px;
    font-weight: 500;
    width: 400px;
    height: auto;
    letter-spacing: 2px;
    // border: solid 3px black;
    text-shadow: 3px 3px 50px black;
    color: rgb(255, 255, 255);
}

.container h1 img {
    width: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

.container button img {
    width: 50px;
    margin-right: 8px;
    background: transparent;
    padding: 5px;
    border-radius: 5px;
}

.container button {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    color: #000000;
    font-size: 20px;
    font-family: "poppins";
    outline: 0;
    border: 0;
    font-weight: 900;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0px 20px;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #ffffff;
    color: black;
    padding: 20px;
    margin: 30px 0;
    outline: none;
    border-radius: 15px;
    font-family: "poppins";
    font-size: large;
    font-weight: 500;
    border: solid 1px black;
}

.input-box img {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.cube {
    display: flex;
    z-index: index;
    position: relative;
    margin-left: 1200px;
    margin-top: -500px;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotate 6s infinite linear;
}

.cube:hover {}

@media only screen and (max-width:1000px) {
    .cube {
        display: none;
    }
}

.face {
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(rgb(16, 231, 213), rgb(0, 121, 219));
    border: 1px solid #02020231;
}

.front {
    transform: rotateY(0deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}